@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-face {
  font-family: 'Century Gothic';
  src: url('century-gothic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'proxima-nova';
  src: url('proxima-nova.ttf'); /* IE9 Compat Modes */
}
body{
    
    margin:0;
}
html {
    
}

#threebar{
    display:none;
}

.experience{
    border-bottom: 3px solid #cccccc;
    margin-top:25px;
    padding: 0px 75px;
    padding-bottom:25px;

}

h2 {
font-family: 'Raleway';
font-size:35px;
margin-bottom: 0px;
}
li{
    font-family: 'Open Sans';
    padding-bottom: 10px;
    font-size: 18px;
}
h3{
    font-family: 'Raleway';
}

.header {
    background: #27BDED url(img/menuBG.jpg) no-repeat center center;
}
 #extra-nav{
        display:none;
    }

.img-fluid{
    cursor: pointer;
    object-fit: cover;

    width:200px;height:200px;overflow:hidden
}

.nav-container{
    padding:0px 0px 0px 80px;
    width: 100%;
    height: 75px;
    background-color: blue;
    line-height: 75px;
    margin-bottom: 50px;
}

.nav-container>h1{
    color:white;
    display: inline-block;
    vertical-align: middle;
    margin:0;
}

.nav-container>.nav-buttons>a {
    font-size:18px;     
    padding-right:20px;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    color:white;
    font-family: 'Open Sans','Century Gothic', sans-serif;
}

.header{
    background: rgba(41,128,185, 0.85) ;
}


.imageBig{
    height: 50vh; 
}


.worked-w{
    background-color: white;
    border-top: 40px solid #2980b9;
    padding: 40px 0px;
}

.interests{
    background-color: #2980b9;
    padding: 40px 0px;
    color:white;
}

.worked-w>center>.col-md-2>p{
    font-family: 'Droid Sans';
}

.footer1{
    width: 100%;
    min-height:50px ;
    background: #2980b9;
}

.footer1>.row>.col-md-4{
    color:white;
    padding:55px;
}

.hiya{
    height:80vh;
   /* background: url(img/cover.png) no-repeat;*/
    background-size: cover;
    background-position: center;
    color:white;
}

.nav-container>.nav-buttons{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right:0px;
}

h1{
    font-family: 'Century Gothic', sans-serif;
    font-size: 40px;
}

p{
    font-family: 'proxima-nova','Open Sans', sans-serif;
    font-size: 18px;
}




#startchange{
    width:50%;
}



/* MOBILE CSS 
@media (max-width: 835px){
    
#threebar{
    width:10%;
    display: inline;
    background:transparent;
    font-size:250%;
    text-align: center;
}
#cross{
    width:10%;
    display: inline
    background:transparent;
    font-size:250%;
    text-align: center;
}

a.navItem{
    display:block !important;
    padding-bottom: 10px;
    width:100%;
    padding:10% !important;

}

.twoThirdsT.halfP{
    top:0;
    right: 0;
    
    width:50%;
    margin:0;
    z-index: 100000000;
}

.colThirdT{
    display: none;
    z-index: 100000000;
}

#contactRow>.col-md-5{
    padding:0px 60px;
}

#aboutpara{
    column-count: 1 !important;
}

#aboutrow{
    margin-top: 80px !important;
}

#aboutrow>.col-md-3{
    text-align: center;
}

#aboutrow>.col-md-9>h1{
    margin-top: 15px;
    font-size:24px;
}
.modal{
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
}
.modal-body { 
    height: 60%; 
}

.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }

#portfolioCont>.row>.col-md-3{
    margin: 20px 50px !important; 
    position:relative;
    display: block;
    height: 455px !important
}
#portfolioCont>.row>.col-md-3>img{
    width: 100%;
    height:auto !important;
}

.colFullT{
    background-color:rgba(0,0,0,0.8);
    margin: 0;
    height:100vh;
    width: 100%;
    z-index: 100000000;
}

.hiya{
    height: 100vh;
    max-height: 400px;
    padding-top: 20%;


}

.hiya>h1{
    font-size:24px;
}

.hiya>center{
    width: 100%;
}

.col-md-2>img{
    width: 25%;
    padding-bottom: 0px !important;
    margin-bottom: 5px;
}

.col-md-2>p{
    padding-top: 20px;
    font-size:20px;
    margin-bottom: 5px;
}

.khanna{
    width:50% !important;
}

.col-md-2{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0, 0.2);
    z-index: 10;
}

#navbar{
                position:fixed;
                width: 100%;
                background: transparent;
                opacity: 1;
                z-index: 1000000;
            }
.footer1{
    display:none;
    background-color: #424242;
}
#navbar{
    background: transparent !important;
}
    header {
        width: 100%;
    }


#gallery-top{
    margin-top: 0px !important;
}

.pageTitle{
    display:inline;
    color: white;

}
#gallery-top>.col-md-2{
    width: 50px !important;
    display: inline;
    border: none;
}
#gallery-top>.col-md-2>img{
    width: 40% !important;
}
.contentWrapper-pages{
    height:60px;
    background: rgba(41,128,185, 0.85) ;
}

.colFullT{
    width: 100%;
}
.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #27BDED;
  
  top: 0;
  width: 6000px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

}


*/

/* MOBILE CSS*/

@media only screen and (max-device-width: 480px) {
    #threebar{
        width:10%;
        display: block;
        background:transparent;
        font-size:250%;
        text-align: center;
    }

    .hiya{
        background-position: center; 
    }

    .hiya h1{
        margin-top:350px !important;
    }

    #startchange{
        font-size:30px;
        margin-top: 100px;
    }

    #heading{
        width: 100%;
    }
    #heading-border{
        width:50% !important;
    }
    #portDesc{padding:0px !important;}
    #shortdesc{padding:20px !important;}
    #socMedLinks{margin:0 !important;display:inline-block;}
    #portVid{
        display:block;
        position:relative;
        margin-top:200px;
        height:220px !important;
    }

    /* ABOUT */
    #aboutPic{
        display:none;
    }
    #aboutContainer{
        margin-top:0px !important;
    }
    #aboutText{
        padding-top:20px;
        height:450px;
    }
    #aboutText>center>p{
        margin-top:15px !important;
    }
    #aboutText>p{
        padding:0px 20px !important;
    }

    #galleryCont>center>div>.col-md-3{
        width: 100%;
        height:200px;
        margin-bottom: 50px;
        display:block;
        position:relative;
        margin-left:0px !important;

    }

    #raj-heading{
        display:none;
    }

    #aboutpara{
        column-count: 1 !important;
    }

    #extra-nav{
        display:initial;
    }

    #about-shortdesc{
        font-size:30px;
    }

    #aboutpicture{
        width: 75%;
        text-align: center;
        margin-bottom: 20px;
    }

    #aboutrow{
        margin-top: 100px !important;
    }
    #aboutrow>.col-md-3{
        text-align: center;
    }

    .contentWrapper{
        display: none;
    }

    #gallery-top{
        margin-top: 20px !important;
    }

    .img-fluid{
        margin-bottom: 10px;
        height:200px;
    }

    #gallery-top>.col-md-2{
        text-align: center;
    }

    #modal-pic>.col-md-1{width: 10%;}

    .col-md-10{
        width:100% !important;
        display:inline-block;
    }
    .svg{
        display:none;
    }
    .modal-footer>p{
        display:none;
    }

    .divider-buttons{
        margin-bottom: 20px;
    }

    #portfolioCont>.row>.col-md-3{
        width: 90%;
        margin-left: 5% !important;
    }



}